
/*con2*/

/*con3*/
.c3EookBox ul{
	margin: 10px 36px 10px 0;
	padding: 5px 10px;
	background: #EEEEEE;
	border-radius: 10px;
}
.c3EookBox ul li{
	display: inline-block;
	padding: 0 40px 0 40px;
}
.c3Ebookright{
	margin-right: 550px;
}
.c3EbookTex{
	margin-top: 10px;
	width: 900px;
	height: 100px;
}
/*con4*/
.c4EbookSpan{
	margin-left: 60px;
}
.c4EookLeft{
	margin-left: 60px;
}
.c4EbookUl li{
	padding-top: 10px;
	display: inline-block;
	margin-left: 80px;
	width: 85px;
	text-align: center;
}