
/*con2*/
.con2_nav{
	float: left;
	padding-top: 10px;
	padding-left: 42px;
}
.con2_nav ul{
	background: #EEEEEE;
	width: 950px;
	padding: 5px 5px 5px 15px;
	margin: 0 auto;
	border-radius: 5px;
}

.con2_nav ul li{
	display: inline-block;
	padding-right: 10px;
	margin-right: 10px;
	background-size: 10px 10px;
}
/*con3*/
.c3EookBox ul{
	margin: 10px 0;
	padding: 5px 10px;
	background: #EEEEEE;
	border-radius: 10px;
}
.c3EookBox ul li{
	display: inline-block;
	padding: 0 45px 0 45px;
}
.c3Ebookright{
	margin-right: 550px;
}
.c3EbookTex{
	margin-top: 10px;
	width: 900px;
	height: 100px;
}
/*con4*/
.c4EbookSpan{
	margin-left: 60px;
}
.c4EookLeft{
	margin-left: 60px;
}
.c4EbookUl li{
	padding-top: 10px;
	display: inline-block;
	margin-left: 80px;
	width: 85px;
	text-align: center;
}
.c6