@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
/*清除浮动*/
.clearfix::before,
.clearfix::after{
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}
/*IE/7/6*/
.clearfix:after{clear:both;} 
.clearfix{ 
    *zoom:1;
}
/*清除表单样式*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,button,textarea,p,th,td{
	padding:0;margin:0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
	overflow: hidden;
}
/*去除IE67下图片边框*/
fieldset,img{
	border:0;
}
a{
	text-decoration:none;color:#000;outline:none;
}
li{
	list-style:none;
}
caption,th{
	text-align:left;
}
input,button,textarea,select,optgroup,option{
	font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;
}

input,button,textarea,select{
	*font-size:100%;
}
a{
	-webkit-transition:all 0.5s linear;-moz-transition:all 0.5s linear;-ms-transition:all 0.5s linear;-o-transition:all 0.5s linear;
}
a{
	text-decoration:none;
	color:#999;
}
/*字体显示红色*/
.coRed{
	color: red;
	padding-right: 10px;
}
/*字体显示蓝色*/
.letterBlue{
	color: #66b0fe;
}
/*每个列表行间距离设置为10px*/
li{
	line-height: 26px;
}
/*每个label之间的间距*/
input,
label{
	padding: 0 5px;
	border: 0;
}
/*清除IE10以下出现的下划线*/
input[type="checkbox"],
input[type="radio"]{
    background: transparent;
    border: 0;
}
/*input输入框、select下拉框变成下划线  */
input,select{
	color: #999;
	border-color: #a0a0a0; 
    border-style: solid; 
    border-top-width: 0px;
    border-right-width: 0px; 
    border-bottom-width: 1px;
    border-left-width: 0px;
}
/*提交按钮样式*/
input[type="button"]{
	padding: 3px 10px;
	margin-left: 10px;
	background: #a0a0a0;
	-moz-border-radius:10px; /* Firefox */
    -webkit-border-radius:10px; /* Safari 和 Chrome */
    border-radius:10px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
	border: #a0a0a0;
	color:#FFFFFF;
}

/*button的样式设置*/
button{
	padding: 3px 10px;
	margin-left: 10px;
	background: #a0a0a0;
	-moz-border-radius:10px; /* Firefox */
    -webkit-border-radius:10px; /* Safari 和 Chrome */
    border-radius:10px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
	border: #a0a0a0;
	color:#FFFFFF;
}
/*去掉点击框时自带的颜色*/
input:focus,
button:focus{
	outline:none ;
	*border:none;
}
	
/*鼠标变成“手型”*/
button,input{
	cursor:pointer;
}

/*图片按钮去掉边框*/			
input[type="image"]{
	border-bottom-width: 0;
}
body{
	margin: 0 auto;
	font-family:"microsoft yahei" ,sans-serif;
	font-size: 16px;
}
/*右内边距25px*/
.cright{
	padding-right: 25px !important;
}
/*左内边距16px*/
.cleft16px{
	padding-left: 16px;
}
/*右边距5px*/
.padleft5px{
	padding-right: 5px;
}
/*设置个别计量单位下拉框的长度*/
.numWidth{
	width: 63px;
}
/*日期输入框的长度*/
.numberWidth{
	width: 40px;
}
/*提示字体设为14Px*/
.font14px{
	font-size: 14px;
}
/*时间日历样式框*/
.date-T{
	width:175px;
	margin:10px auto;
}
/*遮盖层*/
.maskingLayer{
	display:none;  
    width:100%;  
    height:100%;  
    background:#000;  
    position:absolute;  
    top:0;  
    left:0;  
    z-index:9999;  
    opacity:0.5;                        /*背景的透明度:(Firefox适用；）*/  
    filter:alpha(opacity=50);          /*背景的透明度:(IE适用)； */  
}
/*下拉框样式*/
.dropdown {
	display:inline-block;
	/*兼容IE67中display：inline-block属性*/
	*zoom:1;
	*display:inline; 
	width:120px;
	height:20px;
	border:1px solid #a0a0a0;
	position:relative; 
	border-top-width: 0px;
    border-right-width: 0px; 
    border-bottom-width: 1px;
    border-left-width: 0px;
    z-index: 999;
}
.dropdown .editor {
	display:block;
	border:0;
	padding:0;
	width:100%;
	height:inherit;
}
.dropdown .trigger {
	position:absolute;
	top:0;
	right:0;
	background:url(../img/downSelect.png) no-repeat center center; 
	border-top-width: 0px;
    border-right-width: 0px; 
    border-bottom-width: 0px;
    border-left-width: 0px;
    padding:1px 8px;
}
.dropdown ul {
	display:none;
	width:100%;
	height:140px;
	position:absolute;
	top:100%;
	background-color:#FFF;
	border:1px solid #DDD;
	-moz-border-radius:0 0 5px 5px; /* Firefox */
    -webkit-border-radius:0 0 5px 5px; /* Safari 和 Chrome */
    border-radius:0 0 5px 5px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
	overflow-y:auto;
	overflow-x:hidden;
}
.dropdown ul li {
	height:20px;
	display:block;
	font-size:12px;
	overflow:hidden;
	cursor:pointer;
	width: 100% !important;
}
.dropdown ul li .hot {
	color: red;
}
.dropdown ul li:hover {
	background-color: #EEE;
}
.dropdown ul .search {
	display:block;
	border: 1px solid #EEEEEE;
	border-bottom: 1px solid #808080;
}
.dropdown ul .search:hover{
	background-color:#FFF;
}
.dropdown ul .search input {
	padding:2px;
	width:100%;
	border:0;
	font-size:14px;
	background:none;
}

#libg {
	background-color:#FFF;
	border-bottom-width:0px;
}
.table{
	font-size:12px; width:125px; text-align:left;
}
/*header开始*/
.bj1{
	height: 30px;
	background-color: #eeeeee;
}

.bj1box{
	width: 1080px;
	margin: 0 auto;
}
.bj1 ul {
	width: 660px;
	float: right;
	height: 30px;
}
.bj1nav li {
	float: right;
	list-style-type: none;
	line-height: 30px;
	width: 80px;
	padding-right: 25px;
	position: relative;
}

.bj1nav li ul{
	display: none;
	position: absolute;
	width: 105px;
	left: 0;
}
.bj1nav li:hover ul{
	display:block;
	z-index: 1000;
}
.bj1nav li a {
	display: block;
}
.bj1navli a{
	padding-right: 0;
}
.bj1 a:hover{
	color: #FFFFFF;
}
.bj1 p {
	width: 250px;
	line-height: 30px;
	float: left;
	color: #999;
	height: 30px;
}
.bj2{
	height: 30px;
	background-color: #fff79a;
	color: #999;
}
.bj2 p {
	width: 1050px;
	margin: 0 auto;
	line-height: 30px;
	padding-left: 30px;
	background: url(../img/99.png) no-repeat center left;
}
.bj2 p span{
	padding: 0 25px;
}

.bj3{
	width: 1082px;
	height: 50px;
	margin: 0 auto;
	background-color: #ff6600;
}

.bj3 ul li {
	float: left;
	list-style-type: none;
	line-height: 50px;
	height: 50px;
	width: 96px;
	text-align: center;
}
.bj3 ul li a {
	color: #FFF;
	font-size: 22px;
	text-decoration: none;
	display: block;
}
.bj3 ul li a:hover {
	background-image: url(../img/100.png);
	background-repeat: no-repeat;
}
.bj3 ul li:first-child a{
	background-image: url(../img/100.png);
	background-repeat: no-repeat;
}
/*foot样式*/
.bj4{
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: #eeeeee;
}
.bj4 p {
	width: 1080px; 
	margin: 0 auto;
	line-height:30px;
}
.bj4 p span {
	float: right;
}

/*正文开始*/
.content {
	width: 1080px;
	border: 1px solid #a0a0a0;
	border-top: none;
	margin: 0 auto;
	color:#A0A0A0;
}