.c2five textarea{
	margin-top: 10px;
	width: 1008px;
}
.c2one,
.c3one{
	background: url(../img/video.png) no-repeat left center;
}
/*con3*/
.c3Videoup{
	border: 1px solid #a0a0a0;
	margin-right: 36px;
	padding: 10px 20px;
}

.c3Videoup .c3Videoup2{
	margin: 10px 0;
}
.c3Videoup .c3Videoup3{
	height: 100px;
	border: 1px solid #e1e1e1;
	margin:5px 0;
}
.c3Video70Up{
	padding: 2px 20px;
	background: #009843;
	color: #FFFFFF;
	margin-right: 30px;
}
.c3Video100Up{
	padding: 2px 0;
	background: #EEEEEE;
}
.c3Videowrite{
	background: #EEEEEE;
	padding:5px 10px ;
	margin: 10px 36px 10px 0;
	border-radius: 10px;
}
.c3Videowrite li{
	display: inline-block;
	padding: 0 20px;
}
.c3Videoedit{
}
.c3Videoedit:hover{
	
}
/*视频编辑新增*/
.c3VideoBoxall{
	width:1010px;
	position: relative;
	top: 0;
	left: 36px;
	background: #FFFFFF;
	border: 1px solid #A0A0A0;
}
.c3VideoBox1{
	background: #EEEEEE;
	padding:10px;
}
.c3VideoBox1 span{
	padding-left: 40%;
}
.c3VideoBox1 button{
	float: right;
}
.c3VideoBox2,
.c3VideoBox3,
.c3VideoBox4{
	padding: 5px 10px;
}
.c3VideoBox4 textarea{
	width: 950px;
	height: 100px;
	margin-top: 10px;
}
/*con4*/
.c4one{
	background: url(../img/word.png) left center no-repeat;
}
.c4twoVideoUl li{
	display: inline-block;
	padding: 5px 40px;
	
}
.c4twoVideoUl li:last-child{
	padding-right: 0;
}
.c4twoVideoUl{
	background: #EEEEEE;
	width: 715px;
	border-radius: 10px;
}
/*con5*/
.c5one,
.c5two,
.c5three,
.c9one,
.c9two{
	padding: 5px 0;
}
/*con6*/
.con6 p{
	margin-bottom: 10px;
}
/*con7*/
.c7Videopic{
	margin: 30px 90px 0 90px ;
}
.c7Videopic li{
	display: inline-block;
	width: 100px;
	text-align: center;
	padding-right: 30px;
}
/*con9*/
.c9one p{
	margin-bottom: 10px;
}
